.ui-widget-content {
	border-radius: 20px !important;
}

#info_preview .subblock_title {
	background-color: transparent !important;
}

.subblock_title_txt.break {
	font-weight: bold;
	background: linear-gradient(transparent 70%, #96c1ea6b 0%) !important;
	max-width: 400px;
	padding: 15px 0 10px !important;
}

@media (prefers-color-scheme: dark) {
	html {
		filter: invert(0.9) hue-rotate(170deg);
	}

	body {
		background-color: #eee !important;
	}
}
