.container {
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

.input {
	width: 100%;
}

.button {
	outline: none;
	border-radius: 5px;
	margin: 20px;
	padding: 5px 50px;
	color: white;
	background-color: red;
	transition: 0.3s;
}

.button:hover {
	transition: 0.3s;
	opacity: 0.7;
}
