#page_contents{
    width: 90% !important;
    margin: 0 auto;
}

#timetable .header h1{
    font-weight: bold !important;
    background:linear-gradient(transparent 70%, #96c1ea6b 0%) !important;
    width: 50% !important;
    max-width: 300px !important;
}

.icon{
    background-color: transparent !important;
}

.header{
    background-color: transparent !important;
}

.divTableCellRow{
    border-radius: 10px !important;
    margin: 10px !important;
    transition: 0.3s;
}

.divTableCellRow:hover{
    margin: 10px 0px !important;
    transition: 0.3s;
}

.divTableCellHeader{
    border-radius: 10px 10px 0 0 !important;
    transition: 0.3s;
}

.divTableCellDetail{
    border-radius: 0 0  10px 10px !important;
}



/* ==========================================================================
   OnlineList
   ========================================================================== */

/* コンテンツ幅 */

.onlinelist-jigen {
    width: 5%;
    text-align: center;
}

@media (max-width: 480px) {
    .onlinelist-jigen {
        width: 20%;
        border-bottom: 2.5px solid #DDD;
        padding: 5px 0px 5px 10px;
        background-color: #96C1EA;
        float: left;
        text-align: initial;
    }
}

.onlinelist-course-name {
    width: 40%;
    padding-left: 130px;
}

@media (max-width: 480px) {
    .onlinelist-course-name {
        width: 80%;
        float: left;
        border-bottom: 2.5px solid #DDD;
        padding: 5px 0px 5px 10px;
        background-color: #96C1EA;
    }
}

.onlinelist-course-info {
    width: 45%;
}

@media (max-width: 480px) {
    .onlinelist-course-info {
        clear: both;
        width: 100%;
        border-bottom: 2.5px solid #DDD;
        padding: 5px 0px 5px 10px;

    }
}

.onlinelist-update {
    width: 10%;
}

@media (max-width: 480px) {
    .onlinelist-update {
        width: 100%;
        border-bottom: 2.5px solid #DDD;
        padding: 5px 0px 5px 10px;
    }
}

/* コンテンツ幅 */

/* 曜日ボタン */
.select-week-btn {
    font-size: 130%;
    margin: 30px 0px;
    padding: 5px 40px 5px 40px;
}

@media (max-width : 480px) {
    .select-week-btn {
        display: block;
        font-size: 130%;
        margin: 30px 0px 0px 0px;
    }
}

.week-label {
    display: inline-block;
    background-color: #fff;
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
}

@media (max-width : 480px) {
    .week-label {
        display: none;
    }
}

.sp-week-label {
    display: none;
}

@media (max-width : 480px) {
    .sp-week-label {
        display: inline-block;
        background-color: #fff;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
    }
}

.week-checked {
    background-color: #A4C6FF;
}

.week-radiobutton {
    border-radius: 5px;
    display: none;
}

@media (max-width : 480px) {
    .week-radiobutton {
        border-radius: 5px;
        display: none;
    }
}

@media (min-width : 480px) {
    .online-display-flex-padding {
        padding: 20px 4px 20px 20px;
    }
}

@media (max-width : 480px) {
    #hiddenTitle {
        display: none;
    }
}

.week-list-show {
    display: -webkit-flex;
}

.week-list-hide {
    display: none;
}

@media (max-width : 480px) {
    .online-mobile-under-line {
        border-bottom: 2.5px solid #DDD;
    }
}

.online-display-hide {
    display: none;
}

@media (max-width : 480px) {
    .online-display-hide {
        display: flex;
    }
}

@media (max-width : 480px) {
    .online-mobile-hide {
        display: none;
    }
}




#onlineCourseForm {
    background-color: #EDF3F7 !important;
}

.course-header {
    box-shadow: none !important;
}

.contents-title {
    display: none;
}

.block-title,
.block-title-txt {
    color: black !important;
    margin: 10px 0px;
}

.block-title-txt {
    background: linear-gradient(transparent 70%, #96c1ea6b 0%) !important;
    max-width: 400px;
    padding: 15px 0 10px !important;
}

.result_list_tag {
    border: none !important;
    align-items: stretch !important;
}

.result_list_line {
    transition: 0.2s;
}


.course-header,
.block-title,
.result_list_content,
.contents-list,
.block {
    background-color: #EDF3F7 !important;
}

.block {
    box-shadow: none !important;
    margin-top: 0px !important;
}

.bold-txt {
    background-color: #418fde80 !important;
    margin: 5px !important;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.week-label {
    margin: 20px !important;
    transition: 0.2s;
}
